// BASE STYLES

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  width: 100%;
}

:focus {
  outline: none;
}

.hidden {
  display: none;
}

.strong {
  font-weight: bold;
}

// COMPONENTS

@import './components/_button.scss';
