$color-primary: #00569d;
$color-secondary: #d50000;

$color-text: darken($color-primary, 15%);
$color-text-light: #fcfcfc;

$color-icon: $color-secondary;
$color-icon-footer: #3a6b9d;

$color-background: #fff;
$color-background-page: #00223f;
